.mm-page-content {
  display: flex;
  flex:1;
}

.mm-page-content-sidebar {
  display: none;
  background: #171717;
  padding-top: 10px;
}

.mm-page-main-content {
  color: #a5a5a5;
  display: grid;

  .mm-page-widget {
    margin: 5px 5px;
    padding: 0 10px;
    background: #171717;
  }
}

.mm-page-content-navigation {

}

.mm-page-content-navigation-item {
  transition: background-color 250ms;

  a {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 10px 30px 10px 10px;

    span {
      margin-left: 10px;
      font-size: 0.8em;
      display: inline-block;
    }

    i {
      height: 0.7em;
      width: 0.7em;
    }
  }
}

.mm-page-content-navigation-item:hover {
  background: red;
}

@media only screen and (min-width: 600px) {
  .mm-page-main-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .mm-page-content-sidebar {
    display: unset;
  }
}

