/**
 * Base layout definition (mobile)
 */

.mm-page-header-navigation {
  align-self: center;

  #menu-icon {
    width: 3em;
    height: 3em;
  }
}

.mm-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mm-mobile-menu {
  height: 100%;
  width: 100%;

  background: rgba(0,0,0,0.55);
  position: absolute;
  top:0;
  left:0;
  transition: all 500ms;

  #mobile-menu-close {
    position: absolute;
    top:5px;
    right: 5px;
    text-align: center;

    i {
      width: 35px;
      height: 35px;
    }
  }

  .mm-mobile-menu-container {
    width: 100%;

    .mm-mobile-menu-item {
      transition: all 500ms;

      a {
        font-size: 1.3em;
        display: inline-block;
        width: calc(100% - 40px);
        color:#A5A5A5;
        transition: all 500ms;
        padding: 10px 10px 10px 30px;
      }

      a:hover,a:active {
        color:white;
      }
    }

    .mm-mobile-menu-item:hover,a:active {
      background: rgba(0,0,0,0.25);
      color:white;
    }

    /*.mm-mobile-menu-item:focus-within {
      a {
        color:white !important;
      }
    }*/
  }
}

.mm-mobile-menu-closed {
  display: none;
  opacity: 0;
}

.mm-mobile-menu-open {
  display: flex;
  opacity: 1;
}

.mm-mobile-submenu {
  position: relative;
  top:0;
  left:0;
}

#navigation-menu {
  display: none;
  justify-content: space-between;
}

.mm-navigation-quick-actions {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  i {
    width: 0.8em;
    height: 0.8em;
  }

  i:first-child {
    margin-right: 5px;
  }
}

.mm-user-info-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  img {
    width: 1.5em;
    border-radius: 50%;
    margin-right: 5px;
  }

  i {
    width: 0.8em;
    height: 0.8em;
  }

  h2 {
    display: inline;
    font-size: 1.2em;
    align-self: center;
    margin: 0;
    padding-left: 2%;
  }
}

#navigation-user {
  img {
    width: 3em;
    border-radius: 50%;
  }
}

/**
  Tablets and bigger screens
 */

@media only screen and (min-width: 600px) {
  #mobile-menu-button {
    display: none;
  }

  #navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      padding:0 0.2em;
    }
  }

  .mm-page-header {
    justify-content: space-between !important;
  }

  .mm-page-header-logo {
    width: auto !important;
  }
}

