@import "variables";
@import "normalize";
@import "responsive";
@import "fonts";
@import "menu";
@import "content";

.mm-page-container {
  display: flex;
  flex-flow: column;
  min-width: 200px;
  box-sizing: border-box;
  min-height:100vh;
  background: #333333;

  .mm-page-header {
    padding: 10px 0.5em;
    background: #171717;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

.mm-page-header-logo {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  #page-icon {
    width: 2.5em;
  }

  #page-title {
    font-size: 1.2em;
    margin-left: 20px;
    color:white;
    display: none;
  }
}


@media only screen and (min-width: 325px) {
  #page-title {
    display: inline-block !important;
  }
}

@media only screen and (min-width: 600px) {
  #page-icon {
    width: 1.5em !important;
  }

  #page-title {
    font-size: 0.8em !important;
    margin-left: 10px !important;
  }
}
